<div class="table-container" fxLayout="column" fxLayoutAlign="start center">
  <table [dataSource]="table.dataSource" class="mat-elevation-z8" mat-table matSort>

    <ng-container matColumnDef="{{table.columns.NR}}">
      <th *matHeaderCellDef class="number-cell" mat-header-cell mat-sort-header>
        Nr.
      </th>
      <td *matCellDef="let element" class="number-cell" mat-cell>
        {{element.nr}}
      </td>
    </ng-container>

    <ng-container matColumnDef="{{table.columns.NAME}}">
      <th *matHeaderCellDef class="text-cell" mat-header-cell mat-sort-header>
        Name
      </th>
      <td *matCellDef="let element" class="text-cell" mat-cell>
        {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="{{table.columns.PRICE}}">
      <th *matHeaderCellDef class="number-cell" mat-header-cell mat-sort-header>
        Price
      </th>
      <td *matCellDef="let element" class="number-cell" mat-cell>
        {{element.price}} €
      </td>
    </ng-container>

    <ng-container matColumnDef="{{table.columns.CART}}">
      <th *matHeaderCellDef class="icon-cell" mat-header-cell>
      </th>
      <td *matCellDef="let element" class="icon-cell" mat-cell>
        <button (click)="addToCart(element)" color="primary" mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="{{table.columns.ACTIONS}}">
      <th *matHeaderCellDef class="icon-cell" mat-header-cell>
        <button (click)="addProduct()" color="primary" mat-icon-button>
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </th>
      <td *matCellDef="let element" class="icon-cell" mat-cell>
        <button (click)="deleteProduct(element)" color="warn" mat-icon-button>
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="table.displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: table.displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]" class="mat-elevation-z8" showFirstLastButtons></mat-paginator>
</div>
